@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #03045e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #000000;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.WheretoWrapper {
  background: #0077b6;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.WhereTo {
  width: 100%;
  margin-bottom: 1rem;
}

.whereto-input {
  outline: none;
  background: none;
  border: 1px solid #00000038;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #000000;
}

.whereto-input::placeholder {
  color: #00000044;
}

.whereto-btn {
  background: #00b4d8;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.253);
  padding: 0.55rem;
  cursor: pointer;
  
}

/* prob */
.WhereTo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #90e0ef;
  color: #00000056;
  padding: 0.75rem 1rem;
  border-radius: 15px 50px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #000000;
  cursor: pointer;
}

.completed {
  color: #000000;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 